<!-- Modal de Novos Users -->
<div class="modal" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" id="modal-novoUser2">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="btn-close-modal" data-dismiss="modal">x</button>
                <h4 class="modal-title">Novo Utilizador</h4>
            </div>
            <!-- Escolher Qual O User a Criar -->
            <div class="modal-body">
                <div class="btn-group" role="group">
                    <button type="button" class="btn" id="link-estudantes">Estudante</button>
                    <button type="button" class="btn" id="link-empresa">Empresa</button>
                    <button type="button" class="btn" id="link-orientador">Orientador</button>
                </div>

                <!-- Form de Novo User -->
                <form id="formNovoUser">
                    <div class="form-group">
                        <input type="text" class="form-control" id="novo-user-nome" placeholder="Nome" required/>
                        <input type="email" class="form-control" id="novo-user-email" placeholder="Email" required/>
                        <input type="number" class="form-control" id="novo-user-media" placeholder="Média" />
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="submitNovoUser" class="btn btn-default" data-dismiss="modal">Criar User</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Informação Sobre User -->
<div class="modal" id="modalVerUser" tabindex="-1" role="dialog">
    <div class="modal-dialog" id="modal-novoUser1">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="btn-close-modal" data-dismiss="modal">x</button>
                <h4 id="titulo-nome-user" class="modal-title">A Carregar...</h4>
            </div>

            <div class="modal-body">
                <!-- Tipo de User -->
                <p><b>Tipo: </b><span id="tipo-user"></span></p>
                <!-- Email de User -->
                <p id="email-user"></p>
                <!-- Tabela com Contactos -->
                <table class="table" id="table-perfil">
                    <thead>
                        <tr>
                            <th scope="col">Tipo de Contacto</th>
                            <th scope="col">Descrição</th>
                        </tr>
                    </thead>
                    <tbody id="tabela-contactos-user">
                        <tr>
                            <td scope="row">Localidade</td>
                            <td id="localizacao-user"></td>
                        </tr>
                        <tr>
                            <td scope="row">Nº Telefone</td>
                            <td id="n-telefone-user"></td>
                        </tr>
                        <tr>
                            <td scope="row">Nº Telemóvel</td>
                            <td id="n-telemovel-user"></td>
                        </tr>
                        <tr>
                            <td scope="row">Email secundário</td>
                            <td id="email-secundario-user"></td>
                        </tr>
                    </tbody>

                </table>
                <div id="tabela-contactos-empresa">


                </div>
            </div>
            <div id="footer-user" class="modal-user">

            </div>
        </div>
    </div>
</div>

<!-- Modal de Configurações -->
<div class="modal" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog" id="modal-novoUser1">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="btn-close-modal" data-dismiss="modal">x</button>
                <h4 class="modal-title">Prazo de Candidatura</h4>
            </div>

            <div class="modal-body">
                <!-- Form de Decider Datas -->
                <form id="formCoonf">
                    <div class="form-group">
                        <p>Seleciona a data do início:</p>
                        <input type="date" class="form-control" id="data-inicio-cand" required/>
                        <p>Seleciona a data do fim:</p>
                        <input type="date" class="form-control" id="data-fim-cand" required/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-update-datas" class="btn btn-default" data-dismiss="modal">Gravar</button>

                <button type="button" id="btn-close" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Atribuição -->
<div class="modal" id="modal-atribuição" tabindex="-1" role="dialog">
    <div class="modal-dialog" id="modal-novoUser1">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="btn-close-modal" data-dismiss="modal">x</button>
                <h4 class="modal-title">Orientador</h4>
            </div>
            <!-- Escolher Qual O User a Criar -->
            <div class="modal-body">
                <div class="from-group">
                    <div class="row" style="text-align:center">
                        <div class="col-md-6">
                            <label for="lista-estagiarios">Atribuir Estagiários:</label>
                            <select multiple class="form-control" id="lista-estagiarios">
                        <option>Ana Mafalda Santos</option>
                        <option>João Ricardo Sila</option>
                        <option>Venera Rainha do Mundo</option>
                      </select>
                        </div>
                        <div class="col-md-6">
                            <label for="lista-estagiarios">Atribuídos:</label>
                            <div class="panel panel-default">
                                <div class="panel-body"></div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="btn-save" class="btn btn-default" data-dismiss="modal">Gravar</button>

                <button type="button" id="btn-close" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div id="users" tabindex="-1">

    <h3 class="title">Utilizadores</h3>
    <div style=" margin-top:1%; margin-bottom:2%">
        <div style="float:left; width:75%">
            <button class="btn col-md-2 col-sm-2" type="button" id="link-criar" data-toggle="modal" data-target="#myModal">Criar Novo</button>
            <button class="btn col-md-2 col-sm-2" type="button" id="link-conf" data-toggle="modal" data-target="#myModal2">Configurações</button>
        </div>

        <div id="div-search">
            <input type="text" placeholder="Nome">
            <a href="#" id="search"><img src="../assets/images/search.png" style="height:23px; vertical-align:top"></a>
        </div>
        <br>
    </div>

        <div class="btn-group btn-group-justified" style="height:5%">
            <a type="button" id="list-estudantes" class="btn">Estudantes</a>
            <a type="button" id="list-empresas" class="btn">Empresas</a>
            <a type="button" id="list-orientadores" class="btn">Orientadores</a>
        </div>


        <div id="table-users">
        <!--    <table class="table table-condensed">-->
        <!--    <thead>-->
        <!--        <tr>-->
        <!--            <th scope="col">Nº^</th>-->
        <!--            <th scope="col">Nome^</th>-->
        <!--            <th scope="col">Média^</th>-->
        <!--            <th scope="col">Email^</th>-->
        <!--        </tr>-->
        <!--    </thead>-->
        <!--    <tbody >-->
        <!--        <tr data-toggle="modal" data-target="#modalVerUser">-->
        <!--            <td>9160370</td>-->
        <!--            <td>João Silva</td>-->
        <!--            <td>20</td>-->
        <!--            <td>9160370@esmad.ipp.pt</td>-->
        <!--        </tr>-->
        <!--        <tr data-toggle="modal" data-target="#modalVerUser">-->
        <!--            <td>9160290</td>-->
        <!--            <td>Venera Aitkul</td>-->
        <!--            <td>21</td>-->
        <!--            <td>9160290@esmad.ipp.pt</td>-->
        <!--        </tr>-->
        <!--        <tr data-toggle="modal" data-target="#modalVerUser">-->
        <!--            <td>9164590</td>-->
        <!--            <td>Ana Mafalda Santos</td>-->
        <!--            <td>20</td>-->
        <!--            <td>9160290@esmad.ipp.pt</td>-->
        <!--        </tr>-->
        <!--    </tbody>-->
        <!--</table>-->
        </div>
    </div>

    <script>

        //modals
        $("#link-criar").click((e) => {
            console.log("clicado")
            e.preventDefault();
            $("modal-novoUser2").modal({ backdrop: true });
        });
        $("#link-conf").click((e) => {
            console.log("clicado1")
            e.preventDefault();
            $("modal-novoUser1").modal({ backdrop: true });
        });




        $(document).ready(()=>{
            //Colocar Aluno por default, porque aparece para inserir alunos por default no modal
            tipoNovoUser = "Aluno"

            //Alternar tipo de users a criar e alterar inputs de novo user de acordo com user a criar
            $("#link-estudantes").click((e)=>{
                console.log("clicado")
                tipoNovoUser = "Aluno";
                $("#novo-user-media").show();
            })

            $("#link-empresa").click((e)=>{
                tipoNovoUser = "Empresa";
                $("#novo-user-media").hide();
            })

            $("#link-orientator").click((e)=>{
                tipoNovoUser = "Orientador";
                $("#novo-user-media").hide();
            })
            $("#btn-preferencias").click((e)=>{
                //loadPreferenciasOfUser()
            })


            //Criar novo user
            $("#submitNovoUser").click((e)=>{
                let email = $("#novo-user-email").val();
                let nome = $("#novo-user-nome").val();

                if($("#novo-user-media").is(":visible")){
                    if(!($("#novo-user-media").val())) alert("Média não é válida!")

                    else{
                        console.log("Média existe!")
                        let media = $("#novo-user-media").val()
                        novoUser(email, nome, tipoNovoUser, media);
                    }
                }
                else novoUser(email, nome, tipoNovoUser);
            })

            //carregar Alunos ao iniciar página
            loadUsers("Aluno");

            //Links para listar users de vários tipos
            $("#list-estudantes").click(()=>{
                loadUsers("Aluno");
            });

            $("#list-empresas").click(()=>{
                loadUsers("Empresa");
            });

            $("#list-orientadores").click(()=>{
                loadUsers("Orientador");
            });

            //Fazer update de datas
            $("#btn-update-datas").click((e)=>{
                e.preventDefault();
                let data_inicio = $("#data-inicio-cand").val();
                let data_fim = $("#data-fim-cand").val();

                if(data_inicio != "" && data_fim != "") {
                    updateDatas(data_inicio, data_fim);
                }

                else alert("Datas não válidas!");
            });

        });



    </script>
