<!-- foto -->
<div id="sobre" class="sobre-foto">

    <div class="row" style="margin-right:0px; margin-left:0px">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel panel-default" style="margin-top:100px;">
                <div class="panel-body" >
                    <aside style="margin-bottom:25px;margin-left:10px;margin-top:10px;">
                        <a id="about-tabys" class="about" href="#" >TABYS</a>
                        <a id="about-esmad" class="about" href="#" >ESMAD</a>
                        <a id="about-tsiw" class="about" href="#" >TSIW</a>
                    </aside>

                    <p id="about-text" style="padding:1%">Uma plataforma para gestão de estágios na ESMAD.
                        <br><br> Plataforma web realizada por: João Silva, Venera Aitkul e Ana Mafalda Santos.</p>
                </div>
            </div>
        </div>

        <div class="col-md-1"></div>
    </div>
</div>

<script type="text/javascript" src="../assets/scripts/sobre.js"></script>
