<!-- modal nova publicação -->
<div class="modal" id="modalNovaPublicacao" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="btn-close-modal" data-dismiss="modal">x</button>
                <h4 class="modal-title">Nova Publicação</h4>
            </div>
            <div clasS="modal-body">

                <!-- Form de nova proposta -->

                <form>
                    <div class="form-group">
                        <label>Título</label>
                        <input type="text" class="form-control" id="titulo" placeholder="Título" />

                        <label>Publicação</label>
                        <textarea class="form-control" id="texto"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="submitNovoUser" class="btn btn-default" data-dismiss="modal">Criar Publicação</button>
            </div>
        </div>
    </div>
</div>

<div class="panel" style="margin-top:5%;border:none">
    <div class="panel-heading">
        <center>
            <h3>Publicações</h3>
        </center>
    </div>
    <div class="panel-body" style="margin-right:5%">
        <ul style="list-style-type:none" id="ul-publicacoes">
            <!-------------------------------------------------->
        </ul>
    </div>
    <div class="panel-footer">

        <textarea style="margin:2%; width:96%; border:solid 1px #c66b4f;" rows="4" id="desc-publicacao" name="publicacao" maxlength="400"></textarea>

        <div style="margin:2%;vertical-align:base">
            <input class="form-check-input" type="checkbox" value="" id="privada">
            <label style="margin-right:3%" class="form-check-label" for="privada">Privada</label>

            <button type="button" class="btn" id="btn-publicar" style="float:right">Publicar</button>
        </div>

    </div>

</div>


<script>

    $(document).ready(()=>{
        //chamar função de prêencher publicações aqui
        loadPublicacoes();



        //enviar nova publicação
        $("#btn-publicar").click((e)=>{
            //validar desc
            if($("#desc-publicacao").val()=="") {
                alert("Descrição vazia!");
                return;
            }

            //buscar variáveis
            let desc = $("#desc-publicacao").val();
            let privada = "0";

            if($("#privada").prop("checked")) privada = "1";


            //chamar função
            savePublicacao(privada, desc);
        });

    });
</script>