<div id="contactos" style="padding: 10%">
    <div class="row">

        <!-- Endereço -->
        <div class="col-md-5">
            <center>
            <!-- Mapa -->
            <br><br><br><br>
            <p>
                Escola Superior de Media Artes e Design <br>
                Rua D. Sancho I, n.º 981 <br>
                4480-876 Vila do Conde <br>
                Portugal
            </p>
            <p>
                T: +351 252 291 700 <br>
                E: geral@esmad.ipp.pt
            </p>
            </center>
        </div>
         <div id="map"  class="col-md-7">

            <iframe width="100%" height="400"  style="border-width:0.5px;border-style: double;border-color:#d9d1d4" src="https://www.google.com/maps/embed/v1/view?zoom=17&center=41.3662%2C-8.7394&key=AIzaSyDsn_-MNDi3_zRGIu08IVR7BKMl0hU0_2Q" allowfullscreen></iframe>

        </div>
    </div>
</div>

