<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>TABYS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Grupo Maravilha" />


	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="../assets/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="../assets/css/bootstrap.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="../assets/css/style.css">


</head>

<body>
	<div id="main-page">

		<aside id="tabys-aside" role="complementary">
				<!--TEST-->
			<div id="cross1">
				<button class="btn" id="cross"></button>
			</div>

			<!--TEST-->
			<div id="tabys-logo">
				<a href="index.html">
					<img src="../assets/images/logo-tabys.png" id="logotipo" alt="TABYS">
				</a>
	<br>
			<label for="tabys-logo" id="user-nome">Bem-vindo, <span id="nome-utilizador">{{{nome}}}!</span></label>
			</div>


			<nav id="main-menu" role="navigation">
				<ul>
					<li class="menu_active">
						<a id="link-inicio" href="#">Início</a>
					</li>
					<li>
						<a id="link-perfil" href="#">Perfil</a>
					</li>

					<li>
						<a id="link-publicacoes" href="#" href="">Publicações</a>
					</li>
					<li>
						<a id="link-contactos" href="#">Contactos</a>
					</li>
				</ul>
			</nav>

			<div class="footer">
				<span><a style="color: #c66b4f" href="/logout">Sair</a></span>
				<p>
					<small>2018 ESMAD IPP</span>
						<span>Desenhado por GRUPO MARAVILHA</span>
					</small>
				</p>
				<ul>
				<li>
						<a href="#">
							<i class="icon-facebook2"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="icon-instagram"></i>
						</a>
					</li>
				</ul>
			</div>

		</aside>
		<button class="btn" id="hamburguer"></button>
		<div id="main-cont">
			<p>Início</p>
		</div>
	</div>


	<script src="../assets/libs/jquery-3.3.1.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../assets/scripts/estagiario/estagiario.script.js"></script>

	<script type="text/javascript" src="../assets/scripts/cdc/hamburger.js"></script>
</body>

</html>