<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TABYS</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Calibri');
    </style>
</head>
<body>
    <svg width="1500px" height="700px">
        <image xlink:href="logo-tabys.png" opacity="0" x="350" y="50" width="800" height="800">
           <animate id="a1" attributeName="opacity" from="0" to="1" begin="1s" dur="1s" fill="freeze"/>
           <animate attributeName="width" from="800" to="350" begin="a1.end" dur="1s" fill="freeze" />
           <animate id="a3" attributeName="height" from="800" to="350" begin="a1.end" dur="1s" fill="freeze" />
           <animate id="a4" attributeName="x" from="350" to="550" begin="a3.end" dur="1s" fill="freeze" />
           <animate id="a5" attributeName="y" from="50" to="150" begin="a4.end" dur="1s" fill="freeze" />
        </image>
        <a xlink:href="https://ea4-cfportela.c9users.io/login">
            <text x="800" y="400" fill="orangered" font-size="20" font-family="Calibri" style="visibility:hidden">Login >>
                <set attributeName="visibility" attributeType="CSS" to="visible" begin="a5.end" dur="1s" fill="freeze" />
                <animate attributeName="fill" from="orangered" to="black" begin="a5.end + 1s" dur="1.5s" repeatCount="indefinite"
                />
            </text>
        </a>
    </svg>
</body>
</html>