<div id="datas">
    <div>
        <h4>Prazo de Candidaturas</h4>
        <p>Aqui pode definir as datas entre as quais os alunos podem indicar quais as propostas em que têm interesse</p>
    </div>
    
    <form id="formDatas">
        <div class="form-group">
            <label>Data de Início:</label>
            <input class="form-control" type="date" id="data-inicio">
            
            <label>Data de Fim:</label>
            <input class="form-control" type="date" id="data-fim">
            
            <button class="btn" type="button" id="btnConfirmarDatas"> Confirmar</button>
        </div>
        
    </form>
</div>