<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TABYS</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>

<body style="background-color:#c66b4f">
    <div id="pagLogin">
        <div class="container">

            <!--<div class="row">-->
            <!--    <div class="col-md">-->
            <div class="card" style="background-color:rgba(255, 255, 255); width:100%">

                <div class="card-body">
                    <p style="font-weight:bold">Bem vindo!</p>
                    <p style="font-weight:bold">Altere a sua Palavra-passe.</p>
                    <form action="">
                        <div class="form-group">
                            <!-- mudar password -->
                            <label for="txtPassword">Nova Palavra-passe:</label>
                            <input style="margin-bottom:3%" id="txtNovaPassword1" type="password" class="form-control" placeholder="Nova Palavra-passe" required>
                            <input style="margin-bottom:3%" id="txtNovaPassword2" type="password" class="form-control" placeholder="Repita a Palavra-passe" required>
                            <center>
                                <a href="/login"><button type="button" class="btn" id="btnCancelar" >Cancelar</button></a>
                                <button type="button" class="btn" id="btnEntrar">Continuar</button>
                                <label id="txtErro" style="color:rgb(189, 84, 50); font-size:10pt" for="btnEntrar"></label>
                            </center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--</div>-->

    <script type="text/javascript" src="../assets/libs/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../assets/scripts/changePassword.js"></script>
</body>

</html>
